version: "3.2"

volumes:
    db_path:
        driver: local
        driver_opts:
            o: 'bind'
            type: 'none'
            device: './data/mysql'
    cache_path:
        driver: local
        driver_opts:
            o: 'bind'
            type: 'none'
            device: './data/cache'

networks:
    back:
        driver: bridge
    proxy-network:
        name: nginx-proxy_default
        external: true

services:
    server:
        env_file: .env
        build: ./config/${WEB_SERVER_TYPE}
        mem_limit: 128M
        container_name: ${PROJECT_NAME}-${WEB_SERVER_TYPE}
        volumes:
            - ${SITE_PATH}:/var/www/bitrix
            - ./logs/${WEB_SERVER_TYPE}:/var/log/${WEB_SERVER_TYPE}
        expose:
            - 80
            - 443
        networks:
            - back
            - proxy-network
        links:
            - php
        restart: unless-stopped
    php:
        env_file: .env
        build: ./config/php/${PHP_VERSION}
        mem_limit: 512M
        container_name: ${PROJECT_NAME}-php${PHP_VERSION}
        volumes:
            - ${SITE_PATH}:/var/www/bitrix
            - ./logs/php:/var/log/php
        links:
            - db
            - memcached
        networks:
            - back
        restart: unless-stopped
    db:
        env_file: .env
        build: ./config/${DB_SERVER_TYPE}
        mem_limit: 1024M
        container_name: ${PROJECT_NAME}-${DB_SERVER_TYPE}
        volumes:
            - db_path:/var/lib/mysql
            - ./logs/db:/var/log/mysql
        expose:
            - 3306
        networks:
            - back
        restart: unless-stopped
    memcached:
        env_file: .env
        build: ./config/memcached
        mem_limit: 128M
        container_name: ${PROJECT_NAME}-memcached
        volumes:
            - cache_path:/var/lib/memcached
            - ./logs/memcached:/var/log/memcached
        expose:
            - 11211
        networks:
            - back
        restart: unless-stopped
