/phpmyadmin
/.htaccess
/*.htaccess
/.htaccess*
#/urlrewrite.php
/web.config
/*web.config
# исключаем из репозитория текстовые файлы, но оставляем robots.txt
!/robots.txt
/sitemap*.xml
# /composer.* # что бы было

# исключаем ВСЮ папку bitrix, но ниже настроим включение нужных папок
# или используйте папку /local, чтобы полностью исключить папку bitrix
/bitrix/*
!/bitrix/php_interface/this_site_support.php
!/local/php_interface/include/*
!/bitrix/php_interface/user_lang/*
/restore.php
# # включаем папку шаблонов
#!/bitrix/templates/
# # исключаем служебные и ненужные папки проекта
#!/upload
/upload/*
#!/upload/1c_catalog/
# весь кэш
/bitrix/cache*
/bitrix/html_pages*
/bitrix/managed_cache*
/bitrix/tmp*
/bitrix/templates*
/bitrix/modules/error.log*
# остальное
.xml
*.txt
*.dt
*.tar.gz*
*.tar*
*.gz
*.tar
*.bak
*.old
*.log
*.log.*
*.DS_Store
*.htsecure
/*~
*/_*
/_*
*.enc*
*.idea/
/webgrind/*
/pma/*
/wget.php
/mysql_debug.sql
!*/local/templates/wide_2019/plugins/*.min.*
/local/composer/vendor/*
/bitrix/vendor/*
node_modules
